#cy {
    width: 100%;
    height: 100%;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0%;
}

#editor-page {
    margin: 0px;
    padding: 0px;
}

.navbar {
    width: 100%
}

.col-6 {
    padding: 0;
}