<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    {% load static %}
    <script src="{% static 'js/bundle.js'%}"></script>

</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">CSP Graph Coloring</a>
    </nav>
    <div class="container-fluid p-0 h-100 bg-default" id="editor-page">
        <div class="row h-100">
            <div class="col-2 h-100 py-3 px-0">
                <div class="h-100 p-0">
                    <div class="container-fluid justify-content-center p-0 w-100" id="toolbox">
                        <div class="row justify-content-center p-0 pl-3 w-100 m-0">
                            <div class="btn-group-vertical btn-group-toggle w-100" data-toggle="buttons">
                                <label class="btn btn-secondary active" id="nodeMode">
                                    <input type="radio" name="options" checked> Add Node / Edit
                                </label>
                                <label class="btn btn-secondary" id="edgeMode">
                                    <input type="radio" name="options"> Add Edge
                                </label>
                                <label class="btn btn-secondary" id="delMode">
                                    <input type="radio" name="options"> Delete
                                </label>
                            </div>
                        </div>
                        <div class="row justify-content-center w-100 m-0 pl-3 py-3">
                            <p>Jumlah warna:</p>
                            <input type="number" id="numOfColor" class="form-control align-items-center">
                            <button type="submit" class="btn btn-primary" id="but">Solve</button>
                        </div>
                        <div class="row justify-content-center w-100 m-0 pl-3 py-3" id="result">
                            Result:
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 h-100 p-0">
                <div class ="bg-white" id="cy"></div>
                <button id="draw-off">Draw mode off</button>
                <button id="draw-on">Draw mode on</button>
            </div>
        </div>
    </div>
</body>

</html>